<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("504113e7-b3ba-4fac-824c-73a9be7415f5");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
